replicaCount: 1

image:
  repository: "478253497479.dkr.ecr.us-east-1.amazonaws.com/triton"
  tag: "24.01-py3"
  pullPolicy: Always

args:
  - "tritonserver"
  - "--model-repository=/models"
  - "--model-control-mode=poll"
  - "--repository-poll-secs=5"
  - "--log-verbose=1"
  - "--log-info=true"
  - "--log-warning=true"
  - "--log-error=true"

serviceAccount:
  create: true
  name: triton-sa
  annotations: {}

resources:
  limits:
    nvidia.com/gpu: 1
    cpu: 1
    memory: 4Gi
  requests:
    cpu: 0.5
    memory: 2Gi

nodeSelector:
  accelerator: nvidia

tolerations:
  - key: "nvidia.com/gpu"
    operator: "Exists"
    effect: "NoSchedule"

ports:
  http: 8000
  grpc: 8001
  metrics: 8002

service:
  type: ClusterIP
  port: 8000

metrics:
  enabled: true
  path: /metrics
  port: 8002

livenessProbe:
  enabled: true
  path: /v2/health/ready
  port: 8000
  initialDelaySeconds: 10
  timeoutSeconds: 5
  periodSeconds: 10

readinessProbe:
  enabled: true
  path: /v2/health/live
  port: 8000
  initialDelaySeconds: 5
  timeoutSeconds: 5
  periodSeconds: 10

persistence:
  enabled: true
  existingClaim: triton-models-pvc
  mountName: model-repo
  path: /models

extraEnv:
  - name: AWS_REGION
    value: "us-east-1"
