---
apiVersion: v1
kind: Service
metadata:
  name: triton
  namespace: inference
spec:
  type: LoadBalancer
  selector:
    app: triton
  ports:
    - name: http
      port: 8000
      targetPort: 8000
    - name: grpc
      port: 8001
      targetPort: 8001
    - name: metrics
      port: 8002
      targetPort: 8002
