---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  metadata:
  name: '{{ include "triton.fullname" . }}-hpa'
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: '{{ include "triton.fullname" . }}'
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
